Repository SandrineCipolla/StockHub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files" # Limite le commentaire aux sections importantes
  require_changes: yes # N'ajoute des commentaires que s'il y a une différence
  behavior: default
  branches:
    - main
    - develop
  after_n_builds: 1 # Commente après un certain nombre de builds réussis
  show_diff_only: true # Montre uniquement les différences de couverture par rapport au précédent commit
  show_lines: false # Ne montre pas les avertissements ligne par ligne
  require_base: no # Evite les comparaisons sur des branches non importantes

coverage:
  precision: 2
  round: down
  range: "70...100" # Se concentrer uniquement sur les pourcentages entre 70% et 100%
  status:
    patch:
      default:
        target: 15%  # Change le pourcentage ici selon tes besoins
        threshold: 5%  # Ajoute une tolérance (si la couverture baisse légèrement)
    project:
      default:
        target: 60%  # Cible globale pour la couverture du projet

flags:
  backend:
    paths:
      - "backend/"
    carryforward: true # Permet de "porter" la couverture des fichiers non modifiés
  frontend:
    paths:
      - "frontend/"
    carryforward: true

ignore:
  - "backend/tests/*" # Ignore les dossiers de tests ou fichiers non pertinents pour la couverture

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

updated board style
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/home/HomeLoggedIn.tsx
Due: frontend

updated components to put FAB
  frontend/src/App.css
  frontend/src/components/AddStock.tsx
  frontend/src/components/StocksList.tsx
Due: frontend

changed FAB position and style
  frontend/src/components/StocksList.tsx
Due: frontend

updated style on stockwithdetails
  frontend/src/components/AddStockItem.tsx
  frontend/src/components/StockDetailsWithItems.tsx
Due: frontend

updated style on stockitems
  frontend/index.html
  frontend/src/components/StockItems.tsx
  frontend/src/components/StocksList.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/home/HomeLoggedIn.tsx
  frontend/tailwind.config.js
Due: frontend

added home button
  frontend/src/components/StockDetailsWithItems.tsx
Due: frontend

updated code and style on itemdetails
  backend/src/repositories/readStockRepository.ts
  frontend/src/components/ItemDetails.tsx
  frontend/src/utils/StockAPIClient.ts
Due: backend, frontend

added trash on stock in front
  frontend/src/components/StocksList.tsx
  frontend/src/utils/StockAPIClient.ts
Due: frontend

added deleteStock method on backend
  backend/src/controllers/stockController.ts
  backend/src/errors.ts
  backend/src/repositories/writeStockRepository.ts
  backend/src/routes/stockRoutes.ts
  backend/src/services/stockService.ts
  frontend/src/components/StocksList.tsx
  frontend/src/utils/StockAPIClient.ts
Due: backend, frontend

cleaned code
  frontend/src/components/AddStock.tsx
  frontend/src/components/ItemDetails.tsx
  frontend/src/components/StockDetailsWithItems.tsx
  frontend/src/components/StocksList.tsx
  frontend/src/utils/StockAPIClient.ts
Due: frontend

updated theme
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/main.tsx
  frontend/src/theme.ts
  frontend/tailwind.config.js
  frontend/tailwind.config.ts
Due: frontend

updated style modal on stocklist
  frontend/src/components/AddStock.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ItemDetails.tsx
  frontend/src/components/StockDetails.tsx
  frontend/src/components/StockDetailsWithItems.tsx
  frontend/src/components/StocksList.tsx
Due: frontend

updated style trash on stocklist
  frontend/src/components/StocksList.tsx
Due: frontend

added confirmationPage for deleting stock
  frontend/src/App.tsx
  frontend/src/components/StocksList.tsx
Due: frontend

updating style modal to add an item
  frontend/src/components/AddStockItem.tsx
  frontend/src/components/StocksList.tsx
Due: frontend

added page to delete item on a stock
  frontend/src/App.tsx
  frontend/src/components/ItemDetails.tsx
  frontend/src/components/StocksList.tsx
  frontend/src/utils/StockAPIClient.ts
Due: frontend

updating style on menu hamburger
  frontend/src/components/Header.tsx
  frontend/src/components/ItemDetails.tsx
  frontend/src/components/ItemsList.tsx
  frontend/src/components/LowStockItemsList.tsx
Due: frontend

updated lik to connexion on menu hamburger
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
Due: frontend

added clear localstorage
  frontend/src/components/Header.tsx
Due: frontend

updated package.json and env
  frontend/package.json
Due: frontend

added confirmation pages for add stock or item
  frontend/src/pages/ConfirmationPage.tsx
  frontend/src/pages/ItemConfirmationPage.tsx
Due: frontend

adding the redirect uri to the proper place.
  frontend/src/authConfig.ts
Due: frontend

using webpack to package server
  azure-pipelines.yml
  backend/package-lock.json
  backend/package.json
  backend/tsconfig.json
Due: backend

using node 20
  azure-pipelines.yml
Due: none

deploy with node 20
  azure-pipelines.yml
Due: none

deploy with node 20
  azure-pipelines.yml
  backend/webpack.config.js
Due: backend

Added style on app (#43)
  backend/src/controllers/stockController.ts
  backend/src/errors.ts
  backend/src/repositories/readStockRepository.ts
  backend/src/repositories/writeStockRepository.ts
  backend/src/routes/stockRoutes.ts
  backend/src/services/stockService.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/AddStock.tsx
  frontend/src/components/AddStockItem.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ItemDetails.tsx
  frontend/src/components/ItemsList.tsx
  frontend/src/components/LowStockItemsList.tsx
  frontend/src/components/StockDetails.tsx
  frontend/src/components/StockDetailsWithItems.tsx
  frontend/src/components/StockItems.tsx
  frontend/src/components/StocksList.tsx
  frontend/src/main.tsx
  frontend/src/pages/ConfirmationPage.tsx
  frontend/src/pages/ItemConfirmationPage.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/home/HomeLoggedIn.tsx
  frontend/src/pages/home/HomeLoggedOut.tsx
  frontend/src/theme.ts
  frontend/src/utils/StockAPIClient.ts
  frontend/tailwind.config.js
  frontend/tailwind.config.ts
Due: backend, frontend

added url on corsoptions
  backend/src/index.ts
Due: backend

including node externals.
  backend/webpack.config.js
Due: backend

output to dist
  backend/webpack.config.js
Due: backend
