Repository SandrineCipolla/StockHub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

added codecov file
  .github/workflows/build.yml
  .github/workflows/codecov.yml
  codecov.yml
Due: none

added codecov file
  .github/workflows/codecov.yml
Due: none

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/develop_stockhubappback.yml
Due: none

updated stockhubappback.yml
  .github/workflows/develop_stockhubappback.yml
Due: none

commented test to pass pipeline
  backend/tests/integration/db.test.ts
Due: backend

commented test to pass pipeline
  backend/tests/integration/db.test.ts
  backend/tests/integration/stockRoutes.test.ts
Due: backend

updated stockhubappback.yml-selecting valid archive to upload
  .github/workflows/develop_stockhubappback.yml
Due: none

downgrading to deploy task v2
  .github/workflows/develop_stockhubappback.yml
Due: none

added path ./dist
  .github/workflows/develop_stockhubappback.yml
Due: none

entry point set to src folder inside dist folder.
  .github/workflows/develop_stockhubappback.yml
  backend/package.json
  backend/tsconfig.json
Due: backend

changed tsconfig.json to previous version.
  backend/tsconfig.json
Due: backend

using . as package and classic nom run start command.
  .github/workflows/develop_stockhubappback.yml
Due: none

disabling docker.
  backend/Dockerfile_donotexecute
  backend/compose.yaml_noexec
Due: backend

changing to 8080
  backend/src/index.ts
Due: backend

enabling docker file back.
  backend/Dockerfile
  backend/compose.yaml
Due: backend

enabling cross origin as dev mode.
  backend/src/index.ts
Due: backend

fine tuning cors that is not working for the moment.
  backend/src/index.ts
Due: backend

added appInsights setup
  backend/src/index.ts
Due: backend

added appInsights setup
  backend/tsconfig.json
Due: backend

added appInsights setup in back
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
Due: backend

refining cors issue on api.
  backend/src/index.ts
Due: backend

copy past failed.
  backend/src/index.ts
Due: backend

trying cors configuration.
  backend/src/index.ts
Due: backend

activation router merge params
  backend/src/index.ts
  backend/src/routes/stockRoutes.ts
Due: backend

added test app.get hello
  .github/workflows/develop_stockhubappback.yml
  backend/src/index.ts
Due: backend

commented appinsights
  backend/src/index.ts
Due: backend

Feature/added warning on low stocks (#42)
  .github/workflows/build.yml
  .github/workflows/codecov.yml
  backend/src/controllers/stockController.ts
  backend/src/models.ts
  backend/src/repositories/readStockRepository.ts
  backend/src/routes/stockRoutes.ts
  backend/src/services/stockService.ts
  codecov.yml
  frontend/src/App.tsx
  frontend/src/components/ItemsList.tsx
  frontend/src/components/LowStockItemsList.tsx
  frontend/src/components/StockItems.tsx
  frontend/src/components/StocksList.tsx
  frontend/src/dataModels.ts
  frontend/src/pages/home/HomeLoggedIn.tsx
  frontend/src/utils/StockAPIClient.ts
Due: backend, frontend

added options cors route
  backend/src/index.ts
Due: backend

updated yml file
  .github/workflows/develop_stockhubappback.yml
Due: none

updated cors options
  backend/src/index.ts
Due: backend

updated style by default to "dark mode"
  frontend/src/App.css
  frontend/src/components/AddStock.tsx
  frontend/src/components/AddStockItem.tsx
  frontend/src/components/ItemDetails.tsx
  frontend/tailwind.config.js
Due: frontend

updated style for an item
  frontend/src/components/AddStock.tsx
  frontend/src/components/AddStockItem.tsx
  frontend/src/components/ItemDetails.tsx
Due: frontend

updated style home components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/home/HomeLoggedIn.tsx
  frontend/src/pages/home/HomeLoggedOut.tsx
Due: frontend

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/tests/*
  frontend: any of: frontend/, but not: backend/tests/*
