Repository SandrineCipolla/StockHub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files" # Limite le commentaire aux sections importantes
  require_changes: yes # N'ajoute des commentaires que s'il y a une différence
  behavior: default
  branches:
    - main
    - develop
  after_n_builds: 1 # Commente après un certain nombre de builds réussis
  show_diff_only: true # Montre uniquement les différences de couverture par rapport au précédent commit
  show_lines: false # Ne montre pas les avertissements ligne par ligne
  require_base: no # Evite les comparaisons sur des branches non importantes

coverage:
  precision: 2
  round: down
  range: "70...100" # Se concentrer uniquement sur les pourcentages entre 70% et 100%
  status:
    patch:
      default:
        target: 15%  # Change le pourcentage ici selon tes besoins
        threshold: 5%  # Ajoute une tolérance (si la couverture baisse légèrement)
    project:
      default:
        target: 60%  # Cible globale pour la couverture du projet

flags:
  backend:
    paths:
      - "backend/"
    carryforward: true # Permet de "porter" la couverture des fichiers non modifiés
  frontend:
    paths:
      - "frontend/"
    carryforward: true

ignore:
  - "backend/tests/*" # Ignore les dossiers de tests ou fichiers non pertinents pour la couverture

changing to use server at the root of dist
  azure-pipelines.yml
  backend/package.json
Due: backend

removed werbpack using plain old compile then run
  azure-pipelines.yml
  backend/package.json
Due: backend

access control allow origin
  backend/src/index.ts
Due: backend

added validation messages on add item form
  frontend/src/components/AddStockItem.tsx
Due: frontend

added validation messages on add stock form
  frontend/src/components/AddStock.tsx
Due: frontend

Updated validation on handlesubmit form (#44)
  frontend/src/components/AddStock.tsx
  frontend/src/components/AddStockItem.tsx
Due: frontend

updated menu hamburger and header for mobile
  frontend/src/App.css
  frontend/src/components/Header.tsx
Due: frontend

updated menu hamburger and header for mobile (#45)
  frontend/src/App.css
  frontend/src/components/Header.tsx
Due: frontend

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

fresh start cors.
  backend/src/index.ts
Due: backend

using azure web app
  azure-pipelines.yml
Due: none

updated vite config with crypto
  .gitignore
  backend/src/index.ts
  frontend/build-image-frontend.ps1
  frontend/compose.yml
  frontend/vite.config.ts
Due: backend, frontend

put secret in env
  frontend/.gitignore
  frontend/compose.yml
Due: frontend

new powershell for front to build for local registry and prod.
  frontend/build-image-frontend.ps1
  frontend/build-local-image-frontend.ps1
Due: frontend

adding localcontainer env file.
  frontend/.dockerignore
  frontend/.env.localcontainer
Due: frontend

modification to deal with crypto lib missing for msal.
  frontend/Dockerfile
  frontend/compose.yml
  frontend/nginx.conf
  frontend/package.json
  frontend/src/authConfig.ts
  frontend/src/components/StocksList.tsx
  frontend/src/theme.d.ts
  frontend/tests/LowStockItemsList.test.tsx
  frontend/tests/StockItems.test.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend

https activated, but http not working anymore.
  frontend/Dockerfile
  frontend/build-local-image-frontend.ps1
  frontend/compose.yml
  frontend/default.conf
  frontend/nginx.conf
Due: frontend

self signed image for front is ok.
  frontend/default.conf
Due: frontend

added more precise log trail.
  backend/compose.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/Utils/logger.ts
  backend/src/controllers/stockController.ts
  backend/src/dbUtils.ts
  backend/src/index.ts
  backend/src/routes/stockRoutes.ts
  backend/src/services/readUserRepository.ts
Due: backend

compose tests that works with mysql persistent volume.
  frontend/compose.yml
Due: frontend

disable unittest for LowStockItemsList.test.tsx to stabilize deploy
  backend/src/dbUtils.ts
  frontend/tests/LowStockItemsList.test.tsx
Due: backend, frontend

commenting unit test on components to test CI.
  frontend/tests/StockItems.test.tsx
Due: frontend

aligning docker build command in azure pipeline.
  azure-pipelines.yml
Due: none

removed progress plain on ps1 script docker build.
  frontend/build-image-frontend.ps1
Due: frontend

cleaning test file.
  frontend/tests/StockItems.test.tsx
Due: frontend

crypto false in package
  frontend/package.json
Due: frontend

updated msal browser version
  frontend/package-lock.json
  frontend/package.json
Due: frontend

changing env file to host secret, and password reset.
  frontend/compose.yml
Due: frontend

excluding all that starts with .env from repo.
  .gitignore
Due: none

reorganization of the code before supporting https.
  backend/src/Utils/authBearerStrategy.ts
  backend/src/Utils/authenticateMiddleware.ts
  backend/src/Utils/logger.ts
  backend/src/config/authenticationConfig.ts
  backend/src/index.ts
  backend/src/initializeApp.ts
  backend/tests/integration/stockRoutes.test.ts
Due: backend

move cors configuration to configuration.
  backend/src/config/corsConfig.ts
  backend/src/index.ts
  backend/src/initializeApp.ts
Due: backend
